<div class="scroll-up-btn">
    <i class="fas fa-angle-up"></i>
</div>
<nav class="navbar">
    <div class="max-width">
        <div class="logo">
            <a href="https://monroy.dev">Monroy<span>.dev</span></a>
        </div>
        <ul class="menu">
            <li><a href="https://monroy.dev/#home" class="menu-btn">Home</a></li>
            <li><a href="https://monroy.dev/#about" class="menu-btn">Sobre mi</a></li>
            <li><a href="https://monroy.dev/#services" class="menu-btn">Servicios</a></li>
            <li><a href="https://monroy.dev/#skills" class="menu-btn">Skills</a></li>
            <li><a href="https://monroy.dev/#portfolio" class="menu-btn">Portfolio</a></li>
            <li><a href="https://monroy.dev/#contact" class="menu-btn">Contacto</a></li>
        </ul>
        <div class="menu-btn">
            <i class="fas fa-bars"></i>
        </div>
    </div>
</nav>