<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sergio A.M.</title>
    <link rel="stylesheet" href="./main/assets/css/styles.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
    <link rel="icon" type="image/x-icon" href="/main/assets/images/favicon.png">
    <script src="./main/assets/js/jquery-3.6.0.min.js"></script>
    <script src="./main/vendor/typed/typed.min.js"></script>
    <script src="./main/vendor/waypoints/jquery.waypoints.4.0.1.min.js"></script>
    <script src="./main/vendor/owl_carousel/owl.carousel.2.3.4.min.js"></script>
    <script src="./main/assets/js/script.js"></script>
    <link rel="stylesheet" href="./main/vendor/owl_carousel/owl.carousel.2.3.4.min.css" />
    
</head>