<!--     Section About     -->
<section class="about" id="about">
  <div class="max-width">
    <h2 class="title">Sobre mi</h2>
    <div class="about-content">
      <div class="column left">
        <img src="./main/assets/images/sergio.jpg" alt="" />
      </div>
      <div class="column right">
        <div>
          <div>
            <a href="https://www.linkedin.com/in/sergio-am/" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
          </div>
        </div>
        <div class="text">
          Soy Sergio y hago
          <script>
            if ($(window).width() < 600) { $('.text').append('<br>'); }
          </script>
          <span class="typing-2"></span>
        </div>
        <p>
          Me considero proactivo, disciplinado y comprometido. Con gran capacidad para adaptarme a los cambios así como
          para la resolución de problemas.
          Soy independiente y muy autodidacta, por lo que puedo trabajar bien solo, sin embargo, cuando mejor me
          desenvuelvo es trabajando en equipo y colaborando con otros.
          Busco continuamente nuevos retos para mantenerme actualizado y adquirir nuevas habilidades y conocimientos que
          agreguen valor a mi trabajo.
        </p>
        <a href="./main/assets/pdf/SergioAM.pdf" target="_blank" id="boton">Descarga mi CV</a>
      </div>
    </div>
  </div>
</section>
<!--  End Section About     -->