<!--   Section Skills -->
<section class="skills" id="skills">
    <div class="max-width">
        <h2 class="title">Mis Skills</h2>
        <div class="skills-content">
            <div class="card card1">
                <figure>
                    <img src="./main/assets/images/skills/html5.png">
                    <figcaption>HTML5</figcaption>
                </figure>
            </div>
            <div class="card card1">
                <figure>
                    <img src="./main/assets/images/skills/css3.png">
                    <figcaption>CSS3</figcaption>
                </figure>
            </div>
            <div class="card card1">
                <figure>
                    <img src="./main/assets/images/skills/js.png">
                    <figcaption>JavaScript</figcaption>
                </figure>
            </div>
            <div class="card card1">
                <figure>
                    <img src="./main/assets/images/skills/jquery.png">
                    <figcaption>JQuery</figcaption>
                </figure>
            </div>
            <div class="card card1">
                <figure>
                    <img src="./main/assets/images/skills/sql.png">
                    <figcaption>SQL</figcaption>
                </figure>
            </div>
            <div class="card card2">
                <figure>
                    <img src="./main/assets/images/skills/phpv2.png">
                    <figcaption>PHP</figcaption>
                </figure>
            </div>
            <div class="card card1">
                <figure>
                    <img src="./main/assets/images/skills/git.png">
                    <figcaption>Git</figcaption>
                </figure>
            </div>
            <div class="card card1">
                <figure>
                    <img src="./main/assets/images/skills/wordpress.png">
                    <figcaption>WordPress</figcaption>
                </figure>
            </div>
            <div class="card card1">
                <figure>
                    <img src="./main/assets/images/skills/woocommerce.png">
                    <figcaption>WooCommerce</figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>
<!--  End Section Skills -->