<!-- Seccion Aviso Legal -->
<section class="legal header" id="legal"></section>
<section class="legal" id="legal">
    <div class="max-width">
        <h2 class="title">Aviso Legal</h2>
        <div class="legal-content">
            <div class="text">
                <div class="apartado">
                    <h3>CONDICIONES DE USO DE LA PÁGINA WEB MONROY.DEV</h3>
                    <p>
                        La página web www.monroy.dev es propiedad de Sergio Álvarez Monroy, NIF 77005830-J (en adelante,
                        el propietario).
                        La utilización de este sitio web está sujeta a las siguientes condiciones de uso. Le rogamos que
                        las lea atentamente. El hecho de acceder a este sitio web y utilizar los materiales contenidos
                        en ella implica que usted ha leído y acepta, sin reserva alguna, estas condiciones.
                    </p>
                </div>
                <div class="apartado">
                    <h3>Condiciones de uso</h3>
                    <ul class="ul-1">
                        <li>El propietario ostenta todos los derechos sobre el contenido, diseño y código fuente de esta
                            página web. Asimismo, ostenta la titularidad sobre el dominio monroy.dev. Se advierte al
                            usuario de que tales derechos están protegidos por la legislación vigente relativa a la
                            propiedad intelectual e industrial.</li>
                        <li>La información contenida en esta página web tiene una finalidad meramente informativa, sin
                            que en modo alguno constituya asesoramiento profesional. El acceso a estos materiales no
                            implica relación alguna entre empresa y cliente, ni cualquier otro tipo de relación de
                            confianza o profesional entre el propietario y el usuario de este sitio web.</li>
                        <li>Los enlaces o links que contiene esta página pueden conducirle a páginas gestionadas por
                            terceros, sobre las que el propietario no ejerce ningún tipo de control, no respondiendo de
                            los contenidos o de la efectiva accesibilidad de dichas páginas.</li>
                    </ul>
                </div>
                <div class="apartado">
                    <h3>Limitación de responsabilidad</h3>
                    <ul class="ul-1">
                        <li>El propietario no es responsable de los errores u omisiones de los que pudieran adolecer los
                            contenidos esta página web u otros a los que se pueda acceder a través de la misma, así como
                            tampoco responderá por cualesquiera daños directos o indirectos derivados de la utilización
                            de esta web ni por los causados por cualquier actuación realizada sobre la base de la
                            información que en ella se facilita.</li>
                        <li>El propietario no garantiza la ausencia de virus u otros elementos lesivos que pudieran
                            causar daños o alteraciones en el sistema informático, en los documentos electrónicos o en
                            los ficheros del usuario de este sitio web.</li>
                    </ul>
                </div>
                <div class="apartado">
                    <h3>Protección de datos</h3>
                    <p>
                        En cumplimiento de lo establecido en la Ley Orgánica 3/2018, de 5 de diciembre, de Protección de
                        Datos Personales y garantía de los derechos digitales, le informamos de que la cumplimentación
                        de cualquier formulario existente en la página web o la remisión de un correo electrónico a
                        cualquiera de nuestros buzones implica la aceptación de esta política de privacidad, así como la
                        autorización al propietario para que trate los datos personales de conformidad con la siguiente
                        cláusula.
                    </p>
                </div>
                <div class="apartado">
                    <h3>Datos del responsable del tratamiento:</h3>

                    Identidad: Sergio Álvarez Monroy. NIF: 77005830-J<br>
                    Dirección: Móstoles, Madrid<br>
                    Teléfono: 617902621<br>
                    Email: info@monroy.dev
                    <p>Los datos del usuario se almacenarán en un fichero propiedad de el propietario y serán utilizados
                        para la gestión de sus observaciones y/o solicitudes, así como para mantenerle informado de los
                        servicios y novedades u ofertas que se estime que puedan ser de su interés. Los nuevos contactos
                        podrán hacerse por correo convencional o por correo electrónico o medio de comunicación
                        electrónica equivalente.</p>
                    <p>El propietario se compromete a guardar la máxima reserva y confidencialidad sobre la información
                        que le sea facilitada y a utilizarla únicamente para los fines indicados. El usuario podrá
                        ejercer sus derechos de acceso, rectificación, cancelación y oposición dirigiendo la oportuna
                        solicitud a la siguiente dirección de e-mail: info@monroy.dev.</p>
                </div>
            </div>
        </div>
    </div>
</section>