<!--  Section Portfolio  -->
<section class="portfolio" id="portfolio">
    <div class="max-width">
        <h2 class="title">Portfolio</h2>
        <div class="carousel owl-carousel">

            <div class="card">
                <div class="box">
                    <img src="./main/assets/images/coming_soon.png" alt="">
                    <div class="text">XXXXXX</div>
                    <p>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
                </div>
            </div>

            <div class="card">
                <div class="box">
                    <img src="./main/assets/images/coming_soon.png" alt="">
                    <div class="text">XXXXXX</div>
                    <p>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
                </div>
            </div>

            <div class="card">
                <div class="box">
                    <img src="./main/assets/images/coming_soon.png" alt="">
                    <div class="text">XXXXXX</div>
                    <p>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
                </div>
            </div>

        </div>
    </div>
</section>
<!--  End Section Portfolio  -->