<!-- Seccion Aviso Legal -->
<section class="legal header" id="legal"></section>
<section class="legal" id="legal">
    <div class="max-width">
        <h2 class="title">Aviso Legal</h2>
        <div class="legal-content">
            <div class="text">
                <div class="apartado">
                    <h3>Propiedad del Sitio Web</h3>
                    <p>Este sitio web, www.monroy.dev, es propiedad de Sergio Álvarez Monroy, NIF 77005830-J (en adelante, el propietario).</p>
                    <p>Al acceder y utilizar este sitio web, usted acepta las siguientes condiciones de uso:</p>
                </div>
                <div class="apartado">
                    <h3>Derechos de Propiedad</h3>
                    <p>El propietario ostenta todos los derechos sobre el contenido, diseño y código fuente de esta página web, así como sobre el dominio monroy.dev, protegidos por la legislación vigente sobre propiedad intelectual e industrial.</p>
                </div>
                <div class="apartado">
                    <h3>Finalidad Informativa</h3>
                    <p>La información contenida en este sitio web es meramente informativa y no constituye asesoramiento profesional ni establece relaciones entre empresa y cliente.</p>
                </div>
                <div class="apartado">
                    <h3>Enlaces a Terceros</h3>
                    <p>Este sitio puede contener enlaces a páginas gestionadas por terceros, sobre los cuales el propietario no ejerce control y no se responsabiliza de sus contenidos o accesibilidad.</p>
                </div>
                <div class="apartado">
                    <h3>Limitación de responsabilidad</h3>
                    <p>El propietario no se hace responsable de errores u omisiones en el contenido de este sitio, ni de daños directos o indirectos derivados de su uso.</p>
                </div>
                <div class="apartado">
                    <h3>Protección de datos</h3>
                    <p>Los datos personales proporcionados a través de formularios o correo electrónico serán tratados de acuerdo con la política de privacidad del propietario, garantizando su confidencialidad y el ejercicio de los derechos de acceso, rectificación, cancelación y oposición.</p>
                </div>
                <p>Para ejercer estos derechos, puede enviar una solicitud a <a href="mailto:info@monroy.dev">info@monroy.dev</a>.</p>
            </div>
        </div>
    </div>
</section>