<!--     Section Services     -->
<section class="services" id="services">
    <div class="max-width">
        <h2 class="title">Mis Servicios</h2>
        <div class="services-content">
            <div class="card">
                <div class="box">
                    <i class="fas fa-paint-brush"></i>
                    <div class="text">Diseño Web</div>
                    <p>
                        Desarrollo páginas web a medida con un alto nivel de personalizaccón. Tambien puedo crear
                        e-Commerce con WooCommerce, Joomla, Prestashop, Wix...
                    </p>
                </div>
            </div>

            <div class="card">
                <div class="box">
                    <i class="fas fa-chart-line"></i>
                    <div class="text">Herramientas de Gestión</div>
                    <p>
                        Creo aplicaciones web de gestión para PYMEs que abarcan tanto la gestión de inventario como la
                        facturación, o cualquier otra herramienta que necesites para tu negocio.
                    </p>
                </div>
            </div>

            <div class="card">
                <div class="box">
                    <i class="fas fa-code"></i>
                    <div class="text">Apps para Móviles</div>
                    <p>
                        Puedo desarrollar aplicaciones para móviles tanto Android como iOS.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Section Services     -->