<!-- Seccion Politica de Privacidad -->
    <section class="privacidad header" id="privacidad"></section>
      <section class="privacidad" id="privacidad">
        <div class="max-width">
          <h2 class="title">POLÍTICA DE PRIVACIDAD</h2>
          <div class="privacidad-content">
              <div class="text">
                <div class="apartado">
                  <h3>¿Quién es el responsable del tratamiento de sus datos personales?</h3>
                  <p>
                    Nombre: Sergio Álvarez Monroy<br>
                    NIF: 77005830-J<br>
                    Domicilio: Móstoles, Madrid<br>
                    Tfno.: 617902621<br>
                    E-mail: info@monroy.dev
                  </p>
                </div>
                <div class="apartado">
                  <h3>¿Con qué finalidad tratamos sus datos personales?</h3>
                  <p>En monroy.dev se tratarán sus datos para las siguientes finalidades:</p>
                  <ul class="ul-1">
                    <li>La preparación y prestación de servicios, facturación y seguimiento de estos.</li>
                    <li>Cumplimiento de obligaciones legales, contables, tributarias y administrativas.</li>
                    <li>Información sobre los servicios de monroy.dev y ofertas de los mismos.</li>
                  </ul>
                </div>
                <div class="apartado">
                  <h3>¿Cuál es la legitimación para el tratamiento de sus datos?</h3>
                  <p>Las bases legales para el tratamiento y utilización de sus datos personales son las siguientes:</p>
                  <ul class="ul-1">
                    <li>Preparación de documentos, ejecución de acuerdos referentes a servicios del monroy.dev, contratados o en vías de contratación.</li>
                    <li>El consentimiento expresado por el cliente. Los datos que solicita monroy.dev son adecuados, pertinentes y estrictamente necesarios, por lo que la negativa a comunicarlos puede afectar al cumplimiento de las finalidades perseguidas.</li>
                    <li>Interés legítimo de monroy.dev.</li>
                  </ul>
                </div>
                <div class="apartado">
                  <h3>¿A qué destinatarios se comunicarán sus datos?</h3>
                  <p>
                  Por regla general, no cederemos sus datos, salvo autorización expresa por su parte, obligación legal o cuando se trate de personas físicas y/o jurídicas, públicas o privadas, cuya intervención sea necesaria para la finalidad principal del tratamiento.
                  </p>
                </div>
                <div class="apartado">
                  <h3>¿Cuáles son sus derechos cuando nos facilita sus datos?</h3>
                  <ul class="ul-1">
                    <li>Derecho a solicitar el acceso a los datos.</li>
                    <li>Derecho de rectificación o supresión.</li>
                    <li>Derecho de oposición.</li>
                    <li>Derecho a solicitar la limitación de su tratamiento.</li>
                    <li>Derecho a la portabilidad de los datos, en su caso.</li>
                    <li>Derecho a no ser objeto de decisiones individuales automatizadas.</li>
                  </ul>
                  <p>Podrán ejercer sus derechos dirigiendo una comunicación por correo electrónico, adjuntando copia de su documento identificativo.<br>
                  Le informamos de que en la página web de la Agencia Española de Protección de Datos (www.agpd.es) dispone de modelos, formularios y demás información sobre sus derechos.
                  </p>
                </div>
                <div class="apartado">
                    <h3>¿De dónde provienen sus datos personales?</h3>
                    <p>Los datos que tratamos en monroy.dev han sido proporcionados por su titular y obtenidos con su autorización para la finalidad principal.</p>
                </div>
                <div class="apartado">
                  <h3>¿Dónde reclamar en caso de tratamiento incorrecto de los datos?</h3>
                  <p>Si considera que sus derechos no se han atendido debidamente, tiene derecho a presentar una reclamación ante la Agencia Española de Protección de Datos, cuyos datos de contacto son:
                    Teléfonos: 901.100.099 / 91.266.35.17
                    Dirección Postal: C/ Jorge Juan, 6 28001-Madrid
                    Sede Electrónica: https://sedeagpd.gob.es/sede-electronica-web/
                    Página web: www.agpd.es
                  </p>
                </div>
                <div class="apartado">
                  <h3>¿Por cuánto tiempo conservamos sus datos?</h3>
                  <p>Los datos se mantendrán mientras dure la relación contractual. Tras ello, monroy.dev conservará los datos personales debidamente bloqueados para su puesta a disposición de las Administraciones Públicas competentes, Jueces y Tribunales o Ministerio Fiscal, durante el plazo de prescripción de las acciones que pudieran derivarse de la relación contractual mantenida.</p>
                  <p>Posteriormente, monroy.dev procederá a suprimir físicamente sus datos, una vez transcurridos dichos plazos.</p>
                </div>
                <div class="apartado">
                  <h3>Seguridad y actualización de sus datos personales</h3>
                  <p>Con el objetivo de salvaguardar la seguridad de sus datos personales, le informamos de que monroy.dev ha adoptado todas las medidas de índole técnica y organizativa necesarias para garantizar la seguridad de los datos personales suministrados. Todo ello para evitar su alteración, pérdida y/o tratamientos o accesos no autorizados, tal y como exige la normativa, si bien la seguridad absoluta no existe.</p>
                  <p>Es importante que nos informe si se produce alguna modificación de sus datos, para que podamos mantenerlos actualizados.</p>
                </div>
                <div class="apartado">
                  <h3>Confidencialidad de sus datos</h3>
                  <p>Monroy.dev le informa que sus datos son considerados como información confidencial y, por tanto, están sometidos a la garantía del deber de secreto de todo aquel que tenga acceso al mismo, derivado de la normativa de protección de datos.</p>
                </div>
              </div>
          </div>
        </div>
      </section>