<!-- Seccion Politica de Privacidad -->
    <section class="privacidad header" id="privacidad"></section>
      <section class="privacidad" id="privacidad">
        <div class="max-width">
          <h2 class="title">POLÍTICA DE PRIVACIDAD</h2>
          <div class="privacidad-content">
              <div class="text">
                <div class="apartado">
                  <h3>¿Quién es el responsable del tratamiento de sus datos personales?</h3>
                  <p>
                    Nombre: Sergio Álvarez Monroy<br>
                    NIF: 77005830-J<br>
                    Domicilio: Móstoles, Madrid<br>
                    Tfno.: 617902621<br>
                    E-mail: info@monroy.dev
                  </p>
                </div>
                <div class="apartado">
                  <h3>¿Con qué finalidad tratamos sus datos personales?</h3>
                  <p>Únicamente para gestionar las consultas recibidas a través del formulario de contacto.</p>
                </div>
                <div class="apartado">
                  <h3>¿Cuál es la legitimación para el tratamiento de sus datos?</h3>
                  <p>El consentimiento del usuario al enviar el formulario de contacto.</p>
                </div>
                <div class="apartado">
                  <h3>¿A qué destinatarios se comunicarán sus datos?</h3>
                  <p>Los datos no se cederán a terceros, salvo obligación legal.</p>
                </div>
                <div class="apartado">
                  <h3>¿Cuáles son sus derechos cuando nos facilita sus datos?</h3>
                  <ul class="ul-1">
                    <li>Derecho a solicitar el acceso, rectificación o supresión de sus datos.</li>
                    <li>Derecho de oposición y limitación del tratamiento.</li>
                    <li>Derecho a la portabilidad de los datos.</li>
                    <li>Derecho a no ser objeto de decisiones individuales automatizadas.</li>
                  </ul>
                  <p>Para ejercer estos derechos, puede enviar una comunicación por correo electrónico a <a href="mailto:info@monroy.dev">info@monroy.dev</a>, adjuntando una copia de su documento identificativo.</p>
                </div>
                <div class="apartado">
                  <h3>¿Dónde reclamar en caso de tratamiento incorrecto de los datos?</h3>
                  <p>Si considera que sus derechos no se han atendido debidamente, tiene derecho a presentar una reclamación ante la Agencia Española de Protección de Datos, cuyos datos de contacto son:
                    Teléfonos: 901.100.099 / 91.266.35.17
                    Dirección Postal: C/ Jorge Juan, 6 28001-Madrid
                    Sede Electrónica: https://sedeagpd.gob.es/sede-electronica-web/
                    Página web: www.agpd.es
                  </p>
                </div>
                <div class="apartado">
                  <h3>¿Por cuánto tiempo conservamos sus datos?</h3>
                  <p>Los datos serán conservados únicamente durante el tiempo necesario para gestionar su consulta.</p>
                </div>
                <div class="apartado">
                  <h3>Seguridad y actualización de sus datos personales</h3>
                  <p>He adoptado las medidas técnicas y organizativas necesarias para garantizar la seguridad de sus datos personales.</p>
                </div>
                <div class="apartado">
                  <h3>Confidencialidad de sus datos</h3>
                  <p>Sus datos son considerados confidenciales y se tratarán como tal, conforme a la normativa de protección de datos.</p>
                </div>
              </div>
          </div>
        </div>
      </section>